{
    "plugins": ["transform-object-rest-spread"],
    "env": {
        "presets": [
            "@babel/preset-env"
        ],
        "test": {
            "presets":[
                "env",
                "jest"
            ],
            "plugins": ["dynamic-import-node"]
          }
    }
}
