
// luminosity
.translucent {
    opacity: 0.6;
}

// position
.prel {
    position: relative;
}

// moar colors
.success {
    background-color: #00C853;
    &--text {
        color: #00C853;
    }
}