
// luminosity
.translucent {
    opacity: 0.6;
}

// position
.prel {
    position: relative;
}

.ibm {
    display: inline-block;
    vertical-align: middle;
}

// flex
.h100p {
    height: 100%;
}

// moar colors
$MOAR_COLORS: (
    success: #00C853,
    // grey: #eeeeee,
);

@mixin colorFromCollection() {
    @each $key, $value in $MOAR_COLORS {
        .#{ $key } {
            background-color: $value;
            &--text {
                color: $value;
            }
        }
    }
}

@include colorFromCollection();

// typography
.bold {
    font-weight: bold;
}

// text
.break {
    word-break: break-all;
}


// cursors
.c-p {
    cursor: pointer;
}
